.star-rating {
  display: flex;
  gap: 5px;
  cursor: pointer;
  font-size: 24px;
}

.star {
  color: lightgray;
  transition: color 0.2s;
}

.star.filled {
  color: gold;
}
.hours-box {
  font-size: 18px;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.label {
  font-weight: bold;
}

.open {
  color: green;
  font-weight: bold;
  margin-left: 5px;
}

.closed {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}



