#map {
  height: 600px;
  width: 100%;
}
.marker-wrapper {
  background: transparent;
  border: none;
}
.custom-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-20px);
}

.custom-marker img {
  width: 60px;
  height: 45px;
  object-fit: cover;
  border-radius: 6px;
  border: 2px solid white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.custom-marker span {
  margin-top: 4px;
  padding: 2px 6px;
  background: white;
  color: black;
  font-size: 10px;
  border-radius: 4px;
  text-align: center;
}
