<div class="container mt-4" style="max-width: 600px;">
    <h2 class="mb-3 text-center">Réserver une visite</h2>
    <form [formGroup]="reserveForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Nom complet</label>
            <input type="text" class="form-control" name="nom" formControlName="nom">
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" formControlName="email">
        </div>

        <div class="mb-3">
            <label class="form-label">Téléphone</label>
            <input type="text" class="form-control" name="tel" formControlName="tel">
        </div>

        <div class="mb-3">
            <label class="form-label">Site archéologique</label>
            <select class="form-select" name="site" formControlName="nom">
                <option disabled selected value="">Choisissez un site</option>
                @for (s of sites; track $index) {
                <option [value]="s.nom">{{ s.nom }}</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Date de visite</label>
            <input type="date" class="form-control" name="date" formControlName="date">
        </div>

        <div class="mb-3">
            <label class="form-label">Nombre de personnes</label>
            <input type="number" class="form-control" name="personnes" formControlName="personnes">
        </div>

        <button class="btn btn-primary " type="submit">Réserver</button>
        <button type="button" class="btn btn-secondary" (click)="onResetForm()">Reset</button>

    </form>
    @if (success) {
        <div class="alert alert-success mt-3">
            Réservation enregistrée avec succès !
        </div>
    }
</div>